@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Vazir.woff2") format("woff2"),
        url("../fonts/Vazir.woff") format("woff"),
        url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

/* <-- ITypedJs --> */
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}


.text-gray {
    color: #44494e;
}


body {
    font-family: "Vazir" !important;
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.dark .dark-bg {
    background: url('../images/bg-dark.jpg') no-repeat !important;
    background-size: cover;
    background-attachment: fixed;
}

.lh-0 {
    line-height: 0 !important;
}

.darkmode-switch {
    width: 2.5em !important;
    height: 1.5rem !important;
}

.dark .dark-text-white {
    color: #fff !important;
}


/* <-- Header --> */
.header {
    padding-top: 90px;
}


.header .counter div {
    width: 100px;
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 15px 0;
    text-align: center;
}


@media screen and (max-width:575px) {
    .header .counter div {
        width: 70px;
        margin: 10px;
        border-radius: 8px;
        padding: 8px 0;
    }

}

.socials a {
    padding: 12px 15px 8px 15px;
    margin: 0 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    transition: all .3s ease;
}

.socials a:hover {
    background-color: #0d6efd;
    border-color: rgba(255, 255, 255, .6);
}



/* <-- CONTACT --> */
.contact hr {
    width: 80px;
    height: 5px;
}

.contact .card {
    border-top: 4px solid #0d6efd;
    border-bottom: 4px solid #0d6fed;
    border-radius: .25rem;
    padding: 20px;
    background: rgba(255, 255, 255, 0.06);
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0 0 0 / 12%);
    color: #fff;
}


.contact .card i {
    font-size: 20px;
    color: #fff;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s;
}

.contact .card i:hover {
  background: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}